@import "./function";
@import "./variables";

@keyframes zero_TO_full {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes bottom_TO_origin {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes right_TO_origin {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes left_TO_origin {
  0% {
    opacity: 0;
    left: -3rem;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes left_TO_origin_invert {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: -3rem;
    opacity: 1;
  }
}

@keyframes pendule {
  0% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(-8deg);
  }
}
